* {
	box-sizing: border-box;
}

body {
	background: #ffffff;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: rgb(0, 0, 0); }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
	background-color: #ffffff;
	color: rgb(0, 4, 255);
	min-height: 100px;
	margin-top: 60px;
	background-image: url(https://i.ibb.co/pX9gMvv/360-F-99653382-0-Jdi-JSmp-ZDWd2nj-KLvo-Ym-TXmac-T8-Cg93.jpg)
}

header h1 {
	padding: 40px 60px;
	font-size: 48px;
}


/* Nav styles */
nav { background-color: rgb(255, 255, 255); }
nav ul { 
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 10px 10px; }
nav a { color: rgb(0, 0, 0); }
nav a:hover { color: rgb(0, 4, 225); }


/* Main styles */
main { 
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	margin-bottom: 40px;
}

aside {
	padding: 40px 10px;
}

/* Footer styles */
footer { 
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	text-align: center;
 }
 footer p { padding: 20px; }

 #aboutme {
	 padding: 40px 60px
 }
 #aboutme{
	 color: black 
 }
 #spacing{
	 color:white
 }