body{
font-family: brother-1816, sans-serif;
font-weight: 400;
font-style: normal;
}
.indexbody{
  background-image: url("https://i.ibb.co/5ntqPZ4/e768e2ce3a16ef4594e40d8032a2ee4c.jpg");
}

.navbar{
  width: 100%;
  overflow: auto;
}
.navbar a{
  float: left;
  flex: display;
  flex-wrap: wrap;
  padding: 25px;
}
.navbar a:hover{ 
transform: scale(1.5);
transform: rotate(180deg);
}
.iconguide{
  display: flex;
  flex-direction: column;
  overflow:scroll;
  height: 120px;
  width: 210px;
  border: 1px solid;
  background-color: white;
}
.iconguide a{
  display:inline-block;
}
.iconguide{
  float: left;
  position: fixed;
  left: 15px;
  bottom: 15px;
}
.title{
  display: flex;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 24pt;
}

.encouragement{
  display: flex;
  flex-direction: column;
height:max-content;
width:min-content;
position:fixed;
float: right;
bottom: 15px;
border: 1px solid;
right: 15px;
background-color: white;
}
.compliments{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  background-color: white;
  width: 250px;
  Height: max-content;
  text-justify: newspaper;
  position: fixed;
  right:15px;
  top: 15px;
}
.compliments{
  flex-wrap: wrap;
  padding-left: 15px;
}

.content{
  display: flex;
  flex-direction: column;
}
.collapsible{
  display:flex;
  flex-direction: column;
  position:absolute;
  top: 25px;
  margin: 0 auto;
  left: 500px;
}

.content{
  display:flex;
  flex-direction: column;
  position:absolute;
  top: 200px;
  margin: 0 auto;
  left: 500px;
}
.quotebutton{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  background-color: white;
  position: absolute;
  top:400px;
  left: 150px;

}

.quoteDisplay{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: max-content;
  height: max-content;
  background-color: white;
  position: absolute;
  top:350px;  
  left: 150px;
}
.question{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid;
  height: max-content;
  width: max-content;
  position: absolute;
  top: 300px;
  left: 150px;
}

.quotebox{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  background-color: white;
  width: 250px;
  Height: max-content;
  text-justify: newspaper;
  position: fixed;
  right: 100px;
  top: 15px;
}
.quotebox{
  flex-wrap: wrap;
  padding-left: 15px;
}

header{
display: flex;
font-size: 36px;
position: absolute;
float:left;
padding: 25px;
bottom: .5px;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  top: 10px;
  margin-bottom: 15px;
}
.bio{
    display: flex;
    flex-direction: column;
    overflow:scroll;
    height: 200px;
    width: 200px;
    border: 1px solid;
    padding: 15px;
    background-color: white;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 20px;
  }
  .gallery1, .gallery2, .gallery3{
    border: 1px solid;
    height: 200px;
    width: 200px;
  }
  .tidbit{
    font-size: 30px;
    padding-left: 10px;
    text-align: justify;
    text-justify: inter-word;
  }
  .creativeactivity{
    border: solid 1px;
    background-color: white;
    padding: 15px;
    height: 200px;
    width: 400px;
    text-align: justify;
    text-justify: inter-word;
  }
  .container2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    bottom: 10px;
    padding-top: 25px;
  }
  .website{
    border: solid 1px;
    height: 200px;
    width: 200px;
    overflow: scroll;
    justify-content: space-evenly;
    align-content: center;
    text-align: justify;
    text-justify: inter-word;
    padding:15px;
    margin-left: 25px;
    }
  .creativeactivity{
margin-left: 25px;
  }
  .image3{
    object-fit: contain;
  }
  .image2{
    object-fit: contain;
  }
  .image1{
    object-fit: contain
  }

 .image3:hover{
    transform: scale(1.5);
  }
  .image2:hover{
    transform: scale(1.5);
  }
  .image1:hover{
    transform: scale(1.5);
  }

  .gallery1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    overflow: scroll;
   
  }
  .gallery2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    overflow: scroll;
  }
  .gallery3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    overflow: scroll;
  }
